@import '../../../styles/_utils/variables';

.defaultFilters {
  height: 100%;
  padding: 40px 30px;
  font-weight: bold;

  &__section {
    margin-bottom: 40px;
  }

  &__color {
    &__title {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 8px;
    }

    &__item {
      list-style: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      transition: transform .2s linear;

      &:hover {
        transform: scale(1.3);
      }
    }

    &__link {
      display: block;
      height: 100%;
      cursor: pointer;
    }
  }

  &__orientation {
    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__list {
      display: flex;
      flex-wrap: nowrap;
      gap: 16px;
      align-items: end;
    }

    &__link {
      display: block;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      
      &--horizontal {
        width: 60px;
        height: 40px;
        background-color: #fff;
        border-radius: 4px;
        transition: all .2s linear;

        &:hover {
          cursor: pointer;
          background-color: $color-hover;
        }
      }
      &--vertical {
        width: 40px;
        height: 60px;
        background-color: #fff;
        border-radius: 4px;
        transition: all .2s linear;

        &:hover {
          cursor: pointer;
          background-color: $color-hover;
        }
      }
      
      &--square {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 4px;
        transition: all .2s linear;

        &:hover {
          cursor: pointer;
          background-color: $color-hover;
        }
      }
    }
  }

  &__category {
    &__title {
      margin-bottom: 12px;
    }

    &__list {
    }

    &__link {
      position: relative;
      display: block;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      font-size: 12px;
      margin: 0 0 6px 24px;
      transition: all .2s linear;

      &:hover {
        color: $color-hover;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -24px;
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
        border-radius: 50%;
      }
      
      &:nth-child(1) {
        &::before {
          background-color: #fff;
        }
      }
    }
  }

  &__region {
    &__title {
      margin-bottom: 12px;
    }

    &__list {
    }

    &__link {
      position: relative;
      display: block;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      font-size: 12px;
      margin: 0 0 6px 24px;
      transition: all .2s linear;

      &:hover {
        color: $color-hover;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -24px;
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
        border-radius: 50%;
      }
      
      &:nth-child(1) {
        &::before {
          background-color: #fff;
        }
      }
    }
  }

  &__price {
    &__title {
      margin-bottom: 12px;
    }
    
    &__limits {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 8px;
      
      &__input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 8px;
        
        &--min {}
        &--max {}
      }
    }
    
    &__list {
      display: flex;
      flex-direction: column;
    }

    &__link {
      text-decoration: none;
      color: #fff;
      font-size: 10px;
      font-weight: normal;
      margin-bottom: 4px;
      transition: all .2s linear;

      &:last-child {
        margin-bottom: 40px;
      }

      &:hover {
        color: $color-hover;
      }
    }
  }
}