@import '../../utils/variables';
@import '../../utils/mixins';

.artwork {
  margin-bottom: 20px;

  &__img {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    margin-bottom: 4px;
    
    &:hover {
      &::before {
        background-color: rgba(0, 0, 0, 0.35);
      }
    }

    &::before {

      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all .5s;
    }
    
    
    & > img {
      width: 100%;
    }
  }

  &__artist {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: #000;
    transition: all .5s;

    &:hover {
      color: $color-hover-main;
      .unknownUserIcon__P {
        fill: $color-hover-main;
      }
    }

    &__text {
      display: block;
      font-size: 12px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
