.filterIcon {
  &__g {
    stroke: none;
    stroke-width: 0;
    stroke-dasharray: none;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    fill: none;
    fill-rule: nonzero;
    opacity: 1;
  }

  &__p {
    stroke: none;
    stroke-width: 1;
    stroke-dasharray: none;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    fill: rgb(0,0,0);
    fill-rule: nonzero;
    opacity: 1;
    transition: all .3s;
  }
}