$breakpoints: (
    mobile: 480px,
    tablet: 768px,
    laptop: 1024px,
    desktop: 1280px,
);

$padding-map: (
    mobile: 10px,
    tablet: 20px,
    laptop: 20px,
);

$header-height-map: (
    mobile: 50px,
    tablet: 64px,
    laptop: 64px,
);