@import '../../styles/_utils/variables';
@import './variables';
@import './mixins';

.header {
    display: flex;
    justify-content: center;

    &_inHeader {
        width: 100%;
        // max-width: 1880px;

        margin-left: auto;
        margin-right: auto;

        @include header-height;
        // @include padding-horizontal;
        @include flex-row;

        justify-content: space-between;
    }
}

.logo {
    height: 100%;

    &__link {
        height: 100%;

        padding-left: 2px;
        padding-right: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        &__image {
            height: 100%;
            max-height: 100%;

            padding-bottom: 8px;

            @media (min-width: map-get($breakpoints, desktop)) {
                padding-bottom: 16px;
            }

            vertical-align: middle;

            @include logo-width;
        }
    }
}

.menu_container {
    height: 100%;

    @include flex-row;
}

.nav_container {
    height: 100%;
    width: 100%;

    &__list {
        height: 100%;

        @include list-reset;
        @include flex-row;

        li:not(:first-child) {
            margin-left: 10px;

            @media (min-width: map-get($breakpoints, tablet)) {
                margin-left: 15px;
            }
        }

        li {
            height: 100%;

            @include flex-row;
        }

        li:not(:first-child):has(form) {
            @media (min-width: map-get($breakpoints, laptop)) {
                margin-left: 30px;
            }
        }
    }
}

.search_container {
    width: 100%;

    margin-left: 10px;
    margin-right: 20px;

    @media (min-width: map-get($breakpoints, desktop)) {
        margin-left: 30px;
        margin-right: 30px;
    }

    @media (max-width: map-get($breakpoints, tablet)) {
        display: none !important;
    }

    &__button {
        height: 100%;
        width: 20px;

        @include flex-row;

        position: absolute;
        left: 10px;

        background-color: transparent;
        border: none;

        z-index: 3;
        cursor: pointer;

        img {
            height: 20px;
            width: 20px;

            padding-bottom: 2px;
        }
    }

    &__input {
        height: 40px;
        width: 100%;

        padding-left: 35px;
        padding-right: 20px;

        background-color: transparent;
        border: none;

        z-index: 2;

        vertical-align: middle;

        font-size: 15px;
        font-weight: bold;
    }
}

.button {
    background-color: black;
    color: white;

    font-size: 13px;
    font-weight: 700;

    line-height: 18px;

    display: inline-flex;
    justify-content: center ;
    align-items: center;

    max-width: 100%;

    border: 1px solid black;
    border-radius: 3px;

    outline: none;

    text-align: center;

    transition: 200ms ease-in-out;

    @include link-reset;
    @include button-adaptive;

    &:hover {
      cursor: pointer;
      background-color: #222;
      border: 1px solid #222;
    }
}

.link {
    background-color: white;

    font-weight: bold;

    height: 100%;

    border: none;
    outline: none;

    padding-left: 10px;
    padding-right: 10px;

    @include flex-row;

    @media (max-width: map-get($breakpoints, laptop)) {
        display: none;
    }

    transition: 200ms ease-in-out;

    &:active {
    }

    &:hover {
        cursor: pointer;
        color: $color-hover;
    }
}

.searchButton_container {
    @media (min-width: map-get($breakpoints, tablet)) {
        margin: 0 !important;
    }
}

.searchButton {
    height: 100%;

    @include mobile-only;

    @include padding-horizontal;
    @include flex-row;

    img {
        height: 26px;
        width: 26px;
    }
}

.menuButton {
    height: 100%;
    margin-left: 10px;

    padding-left: 5px;

    background-color: transparent;
    border: none;

    @include flex-row;

    @media (min-width: map-get($breakpoints, desktop)) {
        display: none;
    }

    img {
        height: 28px;
        width: 28px;

        object-fit: cover;
    }
}

body .desktop {
    display: none;

    @media (min-width: map-get($breakpoints, desktop)) {
        display: block;
    }
}