@import '../../index.scss';

.artwork-container {
    margin-top: 24px;

    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;

    position: relative;

    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 576px) {
        max-width: 540px
    }

    @media (min-width: 768px) {
        max-width: 720px
    }

    @media (min-width: 992px) {
        max-width: 960px
    }

    @media (min-width: 1200px) {
        max-width: 1140px
    }

    &__space {
        margin-top: 24px;
        margin-bottom: 24px;

        border-top: 0.8px solid rgb(229, 231, 235);
    }
}

.mainInfo-container {
    display: grid;

    grid-template-columns: repeat(12, minmax(0, 1fr));

    gap: 0px;
    row-gap: 2rem;

    @include on768 {
        gap: 2rem;
    }
}

.titleAndAuthor {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;
}

.nameInfo {
    line-height: 28px;
    font-size: 20px;

    &__name {
        font-size: 22px;
        font-weight: bold;

        @include on768 {
            font-size: 26px;
        }
    }

    &__authorLink {
        text-decoration: underline;
    }
}

.buttonsContainer {

}

.likeContainer {
    width: 24px;
    height: 24px;

    @include on768 {
        width: 32px;
        height: 32px;
    }

    transition: scale .5s;

    & svg {
        width: 100%;
        height: 100%;

        &.active {
            fill: black;
        }
    }

    &:hover {
        transform: scale(1.1);
    }
}

.images {
    max-width: 547px;

    grid-column: span 12 / span 12;

    @include on768 {
        grid-column: span 6 / span 6;
    }

    &__image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image {
        & img {
            max-width: 100%;
            height: auto;

            border: 1px solid rgb(243, 243, 243);

            object-fit: contain;
            vertical-align: middle;
        }
    }

    // &__additional-images {
    //     max-width: 100%;

    //     margin-top: 12px;

    //     display: flex;
    //     justify-content: start;

    //     &-item {
    //         max-width: 100%;

    //         list-style: none;
    //         margin-right: 6px;
    //     }

    //     &-image {
    //         max-width: 100%;
    //         height: auto;

    //         vertical-align: middle;

    //         object-fit: contain;
    //     }
    // }
}

.info-container {
    grid-column: span 12 / span 12;

    @include on768 {
        grid-column: span 6 / span 6;
    }
}

.price {
    min-height: 44px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
        font-size: 22px;
        font-weight: bold;
        line-height: 33px;
    }

    & button {

    }
}

.button {
    padding: 3px 20px;

    background-color: black;
    color: white;

    font-size: 13px;
    font-weight: 700;

    line-height: 18px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    max-width: 100%;

    border: 1px solid black;
    border-radius: 3px;

    text-align: center;

    transition: 200ms ease-in-out;

    text-decoration: none;

    @include on768 {
        font-size: 16px;
        line-height: 22px;
        padding: 6px 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.description {
    &__list {
        display: flex;
        flex-direction: column;

        & span {
            font-size: 18px;
            margin-bottom: 4px;
        }

        & span:last-child {
            margin-bottom: 0px;
        }
    }
}

.support-information {

    &__title {
        font-size: 18px;

        font-weight: bold;

        margin-top: 36px;
        margin-bottom: 24px;

        text-align: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include on768 {
            flex-direction: row;
        }
    }

    &__list-item {
        width: 100%;
        margin-top: 12px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        list-style: none;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        & img {
            width: 30px;
            height: 30px;

            margin-bottom: 12px;
        }

        & span {
            font-size: 14px;
            text-align: center;
            line-height: 21px;

            max-width: 165px;

            &:last-child {
                max-width: 185px;
            }
        }
    }
}

.section {
    font-size: 14px;

    &__title {
        margin-bottom: 12px;

        font-size: 20px;
        font-weight: bold;

        line-height: 18px;
    }

    & span {
        font-size: 14px;
        line-height: 21px;
    }
}

.tags-list {
    display: flex;
    justify-content: start;

    &__item {
        list-style: none;

        &-link {
            font-size: 16px;
            line-height: 24px;

            padding: 4px 16px;
            margin-top: 12px;
            margin-right: 8px;

            border: 1px solid black;
            border-radius: 20px;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.4s;

            &:hover, &:focus, &:active{
                background-color: rgb(43, 43, 43);
                color: white;
            }
        }
    }
}

.other-works-title {
    margin-bottom: 18px;
}

.mobile-only {
    @include on768 {
        display: none;
    }
}

.not-mobile {
    @media (max-width: 768px) {
        display: none !important;
    }
}