@import '../../utils/variables';
@import '../../utils/mixins';

.blackButton {
  display: none;
  padding: 4px 10px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  transition: all .5s;

  &__isShown {
    display: inline-block;
  }

  @include on768 {
    display: inline-block;
  }

  @include on1280 {
    font-size: 24px;
    padding: 4px 16px;
  }
  
  &:hover {
    cursor: pointer;
    color: $color-hover-main;
    background-color: #fff;
  }
}
