@import '../../utils/variables';

.menuIcon {
  width: 100%;
  height: 100%;

  &:hover {
    cursor: pointer;
    .menuIcon__P {
      fill: $color-hover;
    }
  }

  &__P {
    transition: all .5s;
  }
}